@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  /* background-color: black; */
  /* width: 100%;
  height: 100%; */
  /* overflow-x: hidden; */

}

figure {
  margin: 0;
}

figure img {
  max-width: 860px;
  width: 100%;
  min-width: 240px;
}

body {
  color: white;
}

.App {
  /* overflow-x: hidden; */
  font-family: 'Kanit', sans-serif;

}

.decorated-text {
  background: linear-gradient(180deg, #00ff4f 20%, #00ffff 50%, #ff69b4 80%, #4169e1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CircularProgressbar-trail {
  fill: rgba(0,0,0,0) !important;
  stroke: #3f3f3f !important;
  stroke-width: 6 !important;
}

.CircularProgressbar-path {
  stroke: url(#gradient) !important;
  stroke-linecap: square !important;
  stroke-width: 6 !important;
}

.CircularProgressbar-text {
  stroke: url(#gradient) !important;
  margin-left: 10px !important;
}

.react-reveal {
  animation-duration: 2000ms !important;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 10000000000;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
  z-index: 10000000000;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

#progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}